<%
  if (theme.inverse_sort) {
      var posts = site.posts.sort('date', -1) ;
  } else {
      var posts = site.posts.sort('date', 1);
  }
%>
<div class="section">
  <% site.categories.sort('name').each(function(cat){ %>
      <div class="recent-posts">
        <a class="post-title" id="<%= cat.name %>"><%= cat.name %></a>
        <ul>                                
          <% posts.each(function(it){ %>
              <% if (it.categories.length == 1 && it.categories.data[0]._id == cat._id){ %>
                  <li class="post-list-item">
                    <a href="<%= config.root %><%= it.path %>"><%= it.title %></a>
                    <span><%=date(it.date, 'YYYY-MM')%></span>
                  </li>
              <% } %>
          <% }); %>
        </ul>
      </div>
  <% }); %>
</div>
<script>
  // 监听url hash值变化
  var posts = document.getElementsByClassName('recent-posts');
  var tabs = document.getElementsByClassName('tab-title');
  var isClick = false;
  

  function hashChange(){
    var hash = decodeURIComponent(location.hash);
    if (hash){
      document.getElementById(hash).classList.add('tab-active');
    } else {
      document.getElementsByClassName('tab-title')[0].classList.add('tab-active');
    }
  }

  hashChange();
  window.onhashchange = function(){
    for(var j = 0; j < tabs.length; j++){
      tabs[j].classList.remove('tab-active');
    }
    hashChange();
    isClick = true;
    return false;
  }
  

  // 计算每个section的偏移高度
  // 监听页面滚动，改变tab样式
  var tabs_arr = [];
  for (var i = 0; i < posts.length; i++) {
    tabs_arr.push(posts[i].offsetTop + 40);
  }

  window.onscroll = function(){
    var height = document.documentElement.scrollTop;
    if (isClick){
      isClick = false;
      return false;
    }
    for (var i = 0; i < tabs_arr.length; i++){
      if (tabs_arr[i] > height){

        for(var j = 0; j < tabs.length; j++){
          tabs[j].classList.remove('tab-active');
        }
        document.getElementsByClassName('tab-title')[i].classList.add('tab-active');
        break;

      } 
    }
  }
</script>